 $color-primary-silver-dark-1: #30444B;
 $color-primary-silver-dark-2: #385457;
 $color-primary-silver-dark-3: #101619;
 $color-primary-silver-dark-4: #204051;

 $color-secondary-silver-light-1: #C0CABA;
 $color-secondary-silver-light-a1:#95A68C;
 $color-secondary-silver-light-b1:#809575;
 $color-secondary-silver-light-2: #52796F;
 $color-secondary-silver-light-3: #D3D5D9;

 $color-text-hightlighted: #2B2D42;
 $color-white: #fff;
 $color-highlight-emerald: #53917E;

 $bor-rad: 9px;
