.carousel-indicators,
{
  display:none;
}

.carousel-control-prev-icon,
.carousel-control-next-icon{
  height:4em;
  position:relative;
  z-index: 6;
  filter:brightness(500%);
  cursor:pointer;
}
.carousel-control-prev-icon{
  left:-80px;
}
.carousel-control-next-icon{
  right:-90px;
}

.carousel-item{
  height:100%;
  background-size: 100% 100%;
  background-position: top;
  background-repeat: no-repeat;
  position:relative;

  &>.item{
   /*disables white flash*/
   -webkit-transition: -webkit-transform .5s ease-in-out;
   -o-transition: -o-transform .5s ease-in-out;
   transition: transform .5s ease-in-out;
   -webkit-backface-visibility: visible;
          backface-visibility: visible;
}
}


.slide1{
  background-image: url('../img/hero-man-medium.jpg');

      &__content{
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-45%);
        color:$color-white;
        text-align: center;

          & h1{
            font-size: 7rem;
            letter-spacing: 1.2px;
            font-family: 'Metal Mania', sans-serif;
            text-shadow: 0 2em 5em $color-primary-silver-dark-3;
            }

            &-para{
              font-size: 3em;
              letter-spacing: 1.2px;
              font-family: 'Merriweather',serif;
              color:$color-secondary-silver-light-1;
            }
      }


}

.slide2{
  background-image: url('../img/hero-woman-medium.jpg');
      &__content{
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        color:$color-white;
        text-align: center;
          &-heading h3{
            font-size: 3.6rem;
            font-family:'Playfair Display', serif;
            font-weight: 900;
          }

          &-para{
            font-size: 1.1rem;
            font-family: 'Merriweather',sans-serif;
            color:$color-secondary-silver-light-1;
            line-height: 1.5;

            & span{
              font-size: 2rem;
              font-family:'Lobster',sans-serif;
              letter-spacing: 1.5px;
            }
            .before{
              filter:brightness(75%);
            }

          .after{
            filter: brightness(300%);
          }
        }
      }
}
.slide3{
  background-image: url('../img/hero-man-medium-2.jpg');
  &__content{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    color:$color-white;
    text-align: center;

      &-heading h3{
        font-size: 3.3rem;
        font-family:'Playfair Display', serif;
        font-weight: 900;
      }

      &-para{
        font-size: 1.3rem;
        font-family: 'Merriweather',sans-serif;
        color:$color-secondary-silver-light-1;
        line-height: 1.5;
    }

    .health{
      filter: brightness(400%);
      font-size: 1.6rem;
    }
}
}
