.getinTouch{
  margin-top:-5em;
  // height:80vh;
  padding:12rem 0 12rem;
  // overflow-x: hidden;
  // filter:brightness(62%);
  // border:3px solid red;
  position:relative;
    &__container{
        width:80em;
        height:62em;
        margin:2rem auto;
        background-image: -webkit-linear-gradient(30deg, rgba(225,225,225,0.5)  0%,rgba(225,225,225,0.5) 50%, rgba(83, 145, 126,0.8) 50%), url('../img/gallery/fist-bump.jpg');
        background-image: -o-linear-gradient(30deg, rgba(225,225,225,0.5)  0%,rgba(225,225,225,0.5) 50%, rgba(83, 145, 126,0.8) 50%), url('../img/gallery/fist-bump.jpg');
        background-image: linear-gradient(120deg, rgba(225,225,225,0.5)  0%,rgba(225,225,225,0.5) 50%, rgba(83, 145, 126,0.8) 50%), url('../img/gallery/fist-bump.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
         // border:3px solid blue;
         display:flex;
         align-items: center;
         justify-content: space-around;
         box-shadow: 0 2.1em 2.4em rgba(0,0,0,0.2);
      }

}
