.header{
  padding:0em 0.6em;
  background-color: $color-primary-silver-dark-1;
  // background-color: transparent;
  display:flex;
  justify-content: space-between;
  position:fixed;
  width:100%;
  z-index: 30;
  margin-top: -.2em;
        &__logo{
          background-color: $color-secondary-silver-light-3;
          display:flex;
          align-items: center;
          justify-content: center;
          padding:0.2em 0.3em;
          position: relative;
          z-index: 5;
          top:13px;
          left:5px;
          border-bottom-left-radius: 9px;
          border-bottom-right-radius: 9px;
          box-shadow: 0 4px 9px rgba(217, 228, 232,0.6);
        }

      &__nav{
        align-self: center;
        margin-right: 5px;

        &-list{
          display:flex;
          justify-content: space-between;
          align-items: center;
          //border:3px solid orange;
      }

          &-item{
            cursor:pointer;
            position:relative;
            transition: all .5s ease;
            &:not(:last-child){
            margin-right:3.5em;
            }

            &:not(:first-child):hover .header__nav-link::after {
              opacity: 1;
            }

            &:hover .submenu{
              opacity:1;
              visibility:visible;
            }
          }

          &-link{
            padding:0.8em 0.4em;
            // border:3px solid orange;
            position:relative;
            z-index: 0;
            &::after{
              position:absolute;
              content:'';
              top:0;
              left:0;
              width:100%;
              height:100%;
              background-color: $color-secondary-silver-light-2;
              border-bottom-left-radius: 9px;
              border-bottom-right-radius: 9px;
              z-index: -2;
              transition: opacity 0.5s ease;
              opacity:0;
            }

            &:hover::after{
              opacity:1;
            }
          }
    }
}
.submenu{
    opacity:0;
    visibility: hidden;
    position:absolute;
    top:2.2em;
    left:1em;
    background-color: $color-secondary-silver-light-2;
    padding:0.4em 0.3em 0.4em 0.2em;
    width:13em;
    text-align: left;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    transition:all .4s ease;
    z-index: 13;

      &__link{
        filter:brightness(30%);
         &:hover{
          filter:brightness(900%);
        }
  }
}

.submenu-list{
  line-height: 3;
    &:not(:last-child){
    border-bottom: 1px solid $color-white;
  }
}

.active {
  color: $color-secondary-silver-light-3;
  padding: 0.8em 0.4em;
  position: relative;
  &::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-secondary-silver-light-2;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    z-index: -2;
    transition: opacity 0.5s ease;
    // opacity:0;
  }
}
