*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-size: 62.5%; //1em = 10px
  line-height: 1.2;
  // background-color: var(--color-primary-silver-dark-1);
  background-color: transparent;
  overflow-x: hidden;
}

a{
  text-decoration: none;
  color:inherit;
}

ul{
  list-style: none;
}

img{
  max-width: 100%;
}

::-webkit-scrollbar{
  width:.9em;

}

::-webkit-scrollbar-track{
  background-color: var(--color-primary-silver-dark-3);
  border-radius: var(--bor-rad);
}

::-webkit-scrollbar-thumb{
  border-radius:var(--bor-rad);
  color:var(--color-white);
}

::selection{
  background-color:var(--color-primary-silver-dark-4);
  color:var(--color-white);
  padding:.4em .6em;
}
