*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-size: 62.5%; //1rem = 10px
  line-height: 1.2;
  background-color: $color-primary-silver-dark-3;
  overflow-x: hidden;
}

a{
  text-decoration: none !important;
  color:inherit !important;
}

ul{
  list-style: none;
}

img{
  max-width: 100%;
}

::-webkit-scrollbar{
  width:.9em;

}

::-webkit-scrollbar-track{
  background-color: $color-primary-silver-dark-3;
  border-radius: $bor-rad;
}

::-webkit-scrollbar-thumb{
  border-radius:$bor-rad;
  color:$color-white;
}

::selection{
  background-color:$color-primary-silver-dark-4;
  color:$color-white;
  padding:.4em .6em;
}
