/********************LOGO**********************/

.header__logo-heading{
  font-family: 'Metal Mania', sans-serif;
  background-color: $color-secondary-silver-light-3;
  font-size: 3rem;
  padding:0.2em 0.3em;
  color:$color-text-hightlighted;
  letter-spacing: 1.1px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  box-shadow: 0 4px 9px rgba(217, 228, 232,0.6);
  &--footer{
    display:inline-block;
  }
}

/******************NAV_ITEMS**********************/

.header__nav-item{
font-size: 1.1rem;
margin-top: 1.2em;
font-family: 'Poppins',sans-serif;
letter-spacing: 1px;
color:$color-secondary-silver-light-3;
text-transform: capitalize;
}

/*****************************CAROUSEL*******************************/


/**************************HEADINGS**********************************/
//carousel primary heading
.carousel__primary-heading{
  font-size: 7rem;
  letter-spacing: 1.2px;
  font-family: 'Metal Mania', sans-serif;
  text-shadow: 0 2em 5em $color-primary-silver-dark-3;
  color:$color-white;
}

//carousel secondary heading
.carousel__secondary-heading{
  font-size: 3.6rem;
  font-family:'Playfair Display', serif;
  font-weight: 900;

  //for getinTouch LOGO
}

//carousel__secondary-heading--modified
.carousel__secondary-heading--modified{
  font-size: 3.3rem;
  font-family:'Playfair Display', serif;
  font-weight: 900;
}


//main-headings
.primary-heading{
  diplay:inline-block;
  font-size: 4.4rem;
  font-family: 'Playfair Display', sans-serif;
  background-image: linear-gradient(to right, $color-primary-silver-dark-1,
  $color-secondary-silver-light-2,$color-highlight-emerald);
  display:inline-block;
  -webkit-background-clip: text;
  color:transparent;
  font-weight: 900;
  transition:all .3s ease;
  border-bottom: 4px solid rgba(154, 193, 174,.9);
  margin-bottom: 1.8em;
  // transform:skewX(-15deg) skewY(-2deg);
}


//features-headings
.second-primary-heading{
  font-size: 3.6em;
  font-family: 'Playfair Display', sans-serif;
  background-image: linear-gradient(to right, $color-primary-silver-dark-1,
  $color-secondary-silver-light-2,$color-highlight-emerald);
  display:inline-block;
  -webkit-background-clip: text;
  text-align: center;
  color:transparent;
  border-bottom: 4px solid rgba(154, 193, 174,.9);
  // transform:skewX(-15deg) skewY(-2deg);
}


//trainers-names-front side
.secondary-heading{
  font-size: 2.1rem;
  font-family: 'Playfair Display',cursive;
  letter-spacing: 1.2px;
  font-weight: 800;
  filter: brightness(250%);

}

//trainers-names-back side
.tertiary-heading{
  font-size: 2.4rem;
  font-family: 'Playfair Display', cursive;
  letter-spacing: 1px;
  font-weight: 600;
  color:$color-secondary-silver-light-b1;
  filter: brightness(89%);
}

.getinTouch__heading{
  font-size: 3.1rem;
  font-family: 'Faster One', cursive;
  color:$color-white;
  position:relative;
  top:-17rem;
  left:-1em;
  background-color:rgba(0,0,0,0.6);
  border-radius: $bor-rad;
  padding-right: .1em;
}

/**************************PARAS**********************************/
//carousel__slide1__content-para
.slide1__content-para{
  font-size: 3em;
  letter-spacing: 1.2px;
  font-family: 'Merriweather',serif;
  color:$color-secondary-silver-light-1;
}

//carousel__slide2__content-para
.slide2__content-para{
font-size: 1.1rem;
font-family: 'Merriweather',sans-serif;
color:$color-secondary-silver-light-1;
line-height: 1.5;
& span{
  font-size: 2rem;
  font-family:'Lobster',sans-serif;
  letter-spacing: 1.5px;
}

}


//carousel__slide3__content-para
.slide3__content-para{
  font-size: 1.3rem;
  font-family: 'Merriweather',sans-serif;
  color:$color-secondary-silver-light-1;
  line-height: 1.5;
}

//facilities para
.primary--para{
  max-width: 60em;
  font-size: 1.8em;
  margin-top: 1.3em;
  // color:$color-primary-silver-dark-3;
  color:#0F1A17;
  font-weight: light;
  line-height: 1.6;
  font-family: 'Poppins',sans-serif;
}

//about trainers para
.secondary--para{
  margin: .8rem auto;
  font-size: .9rem;
  line-height: 1.5;
  max-width: 80%;
  font-family: 'Merriweather',cursive;
  color:$color-primary-silver-dark-2;
}

/***********************EXTRAS**************************/
//before and after span
.before{
  filter:brightness(75%);
}

.after{
filter: brightness(300%);
}

//health span
.health{
filter: brightness(400%);
font-size: 1.6rem;
}

//HERCULEAN brand name
.brand-name{
  font-size:2.2rem;
  font-family: 'Metal Mania', sans;
  color:#577275;
  letter-spacing: 1.3px;
  transition: transform .5s ease;
}

//trainers quotes
.saying{
  font-size: 1.4rem;
  font-family: 'Berkshire Swash',cursive;
  color:$color-highlight-emerald;
  margin-bottom: .4em;
  }
