
.heading{
  display:flex;
  align-items: center;
  justify-content: center;
}

.bd_content{
  margin-top: 7.4em;
  padding:8em 0 0;
  // border:3px solid red;
  background-color:var(--color-secondary-silver-light-3);
}

.aboutbodybuilding{
  margin: 0 auto;
  text-align: center;
  max-width: 75%;

}

.header{
  background-color: var(--color-primary-silver-dark-3);
}

.bodylist{
  // border:3px solid blue;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  &__item{
    flex: 0 0 40%;
    // border:3px solid yellow;
    margin:3em 0 3em;
    max-width: 60em;
  }
}

.gif{
  margin-top: 3em;
  max-width: 100%;
}

.walkthrough{
background-color:var(--color-secondary-silver-light-1);
}

.joininglink{
  text-align: center;
}
