
.carousel{
  height: 75em;
  // overflow-x: hidden;
  // padding: 12rem 0 12rem;
  // border:3px solid $color-primary-silver-dark-4;

  // background: transparent;

}

main{
  background-color: $color-secondary-silver-light-1;
}

.features{
  padding:12em 0 2em;
}

.cardsection{
  background-color: $color-secondary-silver-light-3;
  padding:12em 0 12em;
}

.gallery{
  // // position:relative;
  // padding:12rem 0 12rem;
  text-align: center;

}

.footer{
  padding:12rem 0 20rem;
  background-color: $color-primary-silver-dark-3;
}
